<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameVerze</title>
  <link href="/css/output.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="flex flex-col min-h-screen bg-gray-900 transition-colors duration-200">
  <header >
    <nav class="bg-gray-950 shadow-md sticky top-0 z-50">
      <div class="max-w-7xl mx-auto px-8 py-4 md:py-6">
        <!-- Menu for large screens -->
        <div class="flex justify-between items-center h-16">
          <div class="flex items-center">
            <a href="/" class="flex items-center">
              <img
                src="/images/logo.png"
                class="h-12 md:h-16 mr-1"
                alt="Gameverz Logo"
              />
              <span class="text-4xl font-display font-bold text-transparent bg-clip-text bg-gradient-to-r from-cyan via-blue to-pink">
                GameVerz
              </span>
            </a>
            <div class="hidden md:ml-6 md:flex md:space-x-4 text-md font-medium text-gray-400">
            <a
              href="/"
              class="px-3 py-2 rounded-md hover:bg-gray-700 transition-colors"
              >Home</a
            >
            <a
              href="/genres"
              class="px-3 py-2 rounded-md hover:bg-gray-700 transition-colors"
              >Genres</a
            >
            
            <a
              href="/platforms?filter=pcGames"
              class="px-3 py-2 rounded-md hover:bg-gray-700 transition-colors"
              >PC</a
            >
            <a
              href="/platforms?filter=playstation"
              class="px-3 py-2 rounded-md hover:bg-gray-700 transition-colors"
              >PlayStation</a
            >
            <a
              href="/platforms?filter=xbox"
              class="px-3 py-2 rounded-md hover:bg-gray-700 transition-colors"
              >Xbox</a
            >
            <a
              href="/platforms?filter=nintendo"
              class="px-3 py-2 rounded-md hover:bg-gray-700 transition-colors"
              >Nintendo</a
            >
          </div>
          </div>
          <div class="hidden md:flex items-center">
            <div class="hidden md:flex items-center">
              <form action="/search-games" method="GET" class="relative">
                <input 
                  type="text" 
                  name="search" 
                  placeholder="Search games..." 
                  class="w-64 px-4 py-1 rounded-full border border-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 bg-gray-700 text-gray-900 dark:text-gray-100"
                />
                <button type="submit" class="absolute right-0 top-0 mt-1 mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search h-5 w-5 text-gray-500 dark:text-gray-400">
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                  </svg>
                </button>
              </form>
              <!-- 
                TODO: This will have to come after we implement a login feature 
                The favorite and dark mode features will be in V1.2
              -->
              <!-- <a href="/favorites" class="ml-4 p-2 text-red-500 rounded-full hover:bg-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentcolor" class="size-8">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
              </a>
              <button class="text-yellow-400 ml-4 p-2 rounded-fullhover:bg-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentcolor" class="size-8">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                </svg>
              </button> -->
            </div>
          </div>
          
          <!-- Burger menu button and close button for smaller screens-->
          <div class="flex items-center md:hidden">
            <button class="p-2 rounded-md text-gray-400 hover:bg-gray-700 focus:outline-none" id="menuButton">
              <svg
                id="menuIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentcolor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-menu h-6 w-6 text-charcoal"
              >
                <line x1="4" x2="20" y1="12" y2="12"></line>
                <line x1="4" x2="20" y1="6" y2="6"></line>
                <line x1="4" x2="20" y1="18" y2="18"></line>
              </svg>
              <svg
                id="closeIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentcolor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-x h-6 w-6 text-charcoal hidden"
              >
                <path d="M18 6 6 18"></path>
                <path d="m6 6 12 12"></path>
              </svg>
            </button>
          </div>
        </div>
        
        <!-- Mobile menu -->
        <div
          class="md:hidden flex-col mt-4 space-y-3 pb-3"
          id="mobileMenu"
        >
          <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <a
              href="/"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:bg-gray-700 transition-colors"
              >Home</a
            >
            <a
              href="/genres"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:bg-gray-700 transition-colors"
              >Genres</a
            >
            <a
              href="/platforms?filter=pcGames"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:bg-gray-700 transition-colors"
              >PC</a
            >
            <a
              href="/platforms?filter=playstation"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:bg-gray-700 transition-colors"
              >Play Station</a
            >
            <a
              href="/platforms?filter=xbox"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:bg-gray-700 transition-colors"
              >Xbox</a
            >
            <a
              href="/platforms?filter=nintendo"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:bg-gray-700 transition-colors"
              >Nintendo</a
            >

            <!-- 
            TODO: This will have to come after we implement a login feature 
              The favorite and dark mode features will be in V1.2
            -->
            <!-- <a
              href="/favorites"
              class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:bg-gray-700 transition-colors"
              >Favorites</a
            > -->
            
            <div class="flex items-center justify-between px-3 py-2">
              <form class="flex-grow mr-2">
                <input 
                  type="text" 
                  name="search" 
                  placeholder="Search..." 
                  class="w-full px-4 py-2 rounded-full border border-gray-600 bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 text-gray-200"
                />
              </form>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ddb728" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
              </svg>


            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  

