<%- include("partials/header.ejs") %>
  <main class="flex-grow font-inter">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
      <div class="mb-8">
        <div class="flex justify-between mb-5">
          <h1 class="text-3xl font-bold text-gray-100 mb-4"><%= title %></h1>
          <a href="/results" class="flex items-center text-cyan-600 hover:text-blue-300 text-lg">All Games</a>
        </div>
        
        <%#- include("partials/gamecard.ejs", {games: newReleases}) %>
        <%- include("partials/gamecard.ejs", {games}) %>
      </div>
    </div>
    
    
  </main>
<%- include("partials/footer.ejs") %>