<%- include("partials/header.ejs") %>
  <main class="flex-grow font-inter">
    <div class="min-h-screen">
      <!-- Hero Section -->
      <section class="relative bg-gradient-to-r from-blue  to-pink py-24 px-4 sm:px-6 lg:px-8">
        <!-- Black overlay at 30% opacity -->
        <div class="absolute inset-0 bg-black opacity-30 "></div>

        <div class="relative max-w-6xl mx-auto text-center text-white py-24 px-4 sm:px-6 lg:px-8">
          <h1 class="text-4xl font-inter font-extrabold tracking-wide sm:text-5xl md:text-7xl">Discover Your Next Gaming Adventure</h1>
          <p class="mt-6 text-xl max-w-2xl mx-auto">Explore thousands of games across all platforms, genres, and ratings. Find your next favorite game today.</p>
          <form class="mt-8 sm:flex sm:justify-center">
            <div class="w-full sm:max-w-lg">
              <div class="flex items-center">
                <input
                  type="text"
                  name="search"
                  placeholder="Search for games..."
                  class="py-3 px-5 block w-full bg-white rounded-l-full border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-gray-900"
                />
                <button type="submit" class="p-3 rounded-r-full bg-indigo-800 hover:bg-indigo-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search h-6 w-6" data-id="element-52">
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                  </svg>
                </button>
              </div>
            </div>
            
          </form>
        </div>
        
      </section>

      <!-- Top Rated Games Section -->
      <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-3xl font-bold text-gray-100">Top Rated Games</h2>
          <a href="/" class="flex items-center text-cyan-600 hover:text-blue-300 text-lg">View All
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </a>
        </div>

        <!-- Grid for game cards -->
        
      </section>
      <!-- New Realeses Section -->

      <!-- Upcoming Games Section -->
    </div> 
  </main>
  <%- include("partials/footer.ejs") %>
</body>

