<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameVerze</title>
  <link href="/css/output.css" rel="stylesheet"
</head>
<body>
  <h1 class="text-5xl text-red-700">Welcome to GameVerze</h1>
</body>
</html>