<%- include ("partials/header.ejs") %>
<main class="flex-grow font-inter">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="mb-8">
      <h1 class="text-3xl font-bold text-gray-100 mb-4"><%= title %></h1>
      <% if (games && games.length > 0) { %> <%- include
      ("partials/gameCard.ejs", {games}) %> <% } else { %>
      <p class="text-white p-4">No games found</p>

      <% } %>
    </div>
  </div>
</main>
<%- include ("partials/footer.ejs") %>
