 /* For mobile menu animation */
 .mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.mobile-menu.open {
  max-height: 500px; 
  transition: max-height 0.3s ease-in;
}